.about-us {
  width: 260px;
  margin: 0 auto 55px;
  padding: 1px 30px 0;
  background: @color-white url("../img/bg-zigzag-line.svg") repeat-x;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  margin: 40px 0 33px;
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;

  .about-us__list-item {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 28px;
    padding-top: 55px;
    position: relative;

    .icon {
      fill: #63d1bb;
      left: 0;
      top: 0;
    }

    .icon-eko {
      left: 8px;
      width: 32px;
      height: 32px;
    }

    .icon-heart {
      left: 8px;
    }
  }

  .about-us__list-item:first-child {
    padding-right: 80px;
  }

  .about-us__list-item:nth-child(2) {
    padding-right: 40px;
  }

  .about-us__list-item:nth-child(3) {
    padding-right: 60px;
  }

  .about-us__list-item:nth-child(4) {
    padding-right: 10px;
  }

  .about-us__list-item:nth-child(6) {
    padding-right: 10px;
  }
}

@media @width-tablet {
  .about-us {
    width: 668px;
    padding: 0 50px;
    margin-bottom: 55px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 65px;
    margin: 0 0 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .about-us__list-item {
      font-size: 20px;
      line-height: 22px;
      margin-right: 0;
      width: 334px;
      padding-top: 52px;

      &:first-child {
        order: 1;
        padding-right: 0;
        width: 224px;
        margin-bottom: 60px;
      }

      &:nth-child(2) {
        order: 3;
        width: 260px;
        margin-bottom: 59px;
      }

      &:nth-child(3) {
        order: 5;
        width: 240px;
      }

      &:nth-child(4) {
        order: 2;
        margin-right: 60px;
        width: 260px;
      }

      &:nth-child(5) {
        order: 4;
      }

      &:nth-child(6) {
        order: 6;
        width: 260px;
        margin-right: 60px;
      }
    }
  }
}

@media @width-desktop {
  .about-us {
    width: 700px;
    padding: 0 175px;
    margin-bottom: 60px;
    padding-top: 75px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 0;
  }

  .about-us__list {
    .about-us__list-item {
      &:nth-child(2) {
        padding-top: 55px;
      }

      &:nth-child(4) {
        margin-right: 80px;
      }

      &:nth-child(5) {
        margin-right: 15px;
        padding-top: 55px;
      }

      &:nth-child(6) {
        margin-right: 80px;
      }
    }
  }
}
