.catalog__img {
  background-color: rgb(236, 236, 236);
}

.catalog__item-title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__item-description {
  font-size: 13px;
  line-height: 30px;
  color: @color-grey;
}

.catalog__item-cost {
  line-height: 24px;
  font-weight: bold;
}

.catalog__item-info {
  border: 1px solid rgb(236, 236, 236);
}
