.contacts {
  width: 320px;
  margin: 0 auto;
  background: #fff url("/img/zigzag-line.png") repeat-x;
  padding-top: 1px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 30px;
  position: relative;

  .icon-flag {
    position: static;
    width:  1em;
    height: 1em;
    fill: black;
    top: 2px;
  }
}

.contacts__items {
  list-style: none;
  margin: 0 30px 40px 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.contacts__item {
  color: @color-grey;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  &--email {
    margin-left: 32px;
    margin-bottom: 40px;
    border-bottom: 1px solid @color-green-light;

    &:hover {
      color: @color-green-light;
    }

    &:active {
      color: rgba(99, 209, 187, 0.3);
      border-bottom: 1px solid rgba(99, 209, 187, 0.3);
    }
  }

  &--address {
    width: 170px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
  }
}

.contacts-btn {
  margin: 40px auto;
}

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    margin-top: 95px;
    padding-top: 30px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: 50px;

    .icon-flag {
      position: absolute;
      right: 50px;
      width: 47px;
      height: 82px;
      fill: black;
      top: -20px;
    }
  
  }

  .contacts__items {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    margin-bottom: 55px;
  }

  .contacts__item {
    margin-left: 30px;

    &--address {
      width: 235px;
    }

    &--info-email {
      margin-left: 0;
    }

    &--info-address {
      margin-left: 100px;
    }
  }

  .contacts__wrapper img {
    width: 100%;
    height: 457px;
  }

  .contacts-btn {
    width: 230px;
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

@media (min-width: 1250px) {
  .contacts {
    width: 1050px;
    margin: 135px auto 80px auto;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
    margin-top: 120px;

    svg {
      left: -110px;
      top: -10px;
    }
  }

  .contacts__wrapper {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: -150px;
  }

  .contacts__items {
    width: 300px;
    margin: 150px 0 150px 175px;
  }

  .contacts__item {
    margin: 0;

    &--address {
      width: 220px;
      margin-left: 30px;
    }

    &--email {
      margin: 0 30px 30px;
    }
  }

  .contacts__wrapper img {
    width: 525px;
    height: 457px;
  }

  .contacts-btn {
    margin: auto;
    margin-top: -75px;
    margin-left: 175px;
  }
}
