.featured {
  color: @color-grey;
}

.featured__title {
  color: black;
}

.featured__label {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @color-green-light;
}

.featured__description {
  line-height: 24px;
}

.featured__info {
  line-height: 20px;
}

.featured__image {
  background-color: @color-grey-light;
}

.featured__cost {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
