.featured {
  color: @color-grey;
  width: 260px;
  margin: 30px auto 0;
  padding: 0 30px;
}

.featured__title {
  color: black;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
  letter-spacing: 1.2px;
}

.featured__label {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @color-green-light;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.featured-wrapper__intro {
  margin-bottom: 30px;

  img {
    background-color: @color-grey-light;
  }
}

.featured__description {
  line-height: 24px;
  width: 240px;
}

.featured__info {
  line-height: 20px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 28px;

  tr {
    border-bottom: 1px solid #ececec;
  }

  td {
    padding: 10px 0;
  }

  .featured__parametr {
    width: 100px;
  }
}

.featured__cost {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}

@media @width-tablet {
  .featured {
    padding: 20px 50px 0;
    width: 668px;
    margin-bottom: 60px;
  }

  .featured__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  .featured-wrapper__title-label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 55px;
  }

  .featured__description {
    font-size: 17px;
    margin: -6px 0 37px;
    line-height: 29px;
    letter-spacing: 0.5px;
    width: 290px;
  }

  .featured-wrapper__intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      width: 333px;
      min-height: 404px;
    }

    .btn {
      width: 290px;
    }
  }

  .featured__buy {
    width: 292px;
    margin-top: -110px;
  }

  .featured__cost {
    font-size: 20px;
    margin-bottom: 35px;
    margin-top: 0;
  }

  .featured__label {
    margin: 0 10px 6px 0;
    line-height: 17px;
    width: 110px;
    text-align: center;
  }

  .featured-wrapper__intro-description {
    display: flex;
    flex-direction: column;
    width: 292px;
  }
}

@media @width-desktop {
  .featured {
    padding: 0 100px;
    width: 1050px;
    margin-bottom: 80px;
  }

  .featured-wrapper__title-label {
    position: relative;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 40px;
    margin-left: 10px;
    margin-top: 58px;
    margin-bottom: 20px;
    z-index: 2;
  }

  .featured__info {
    position: relative;
    top: 30px;
  }

  .featured__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 70px;
    letter-spacing: 2.4px;
  }

  .featured__label {
    line-height: 17px;
    text-align: left;
  }

  .featured-wrapper__intro {
    width: 875px;
    margin-left: auto;
    margin-top: -100px;
    align-items: flex-end;

    .btn {
      width: 290px;
    }
  }

  .featured-wrapper__intro img {
    width: 525px;
    min-height: 636px;
    margin-top: -30px;
  }

  .featured__buy {
    position: relative;
  }

  .featured__cost {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 34px;
  }

  .featured-wrapper__intro-description {
    margin-bottom: 220px;

    .featured__description {
      margin-bottom: 20px;
    }
  }
}
