.header-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 320px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  .header-nav__item:nth-child(1) {
    border-top: 1px solid #ececec;
  }

  .header-nav__item:nth-child(3) {
    display: none;
  }

  .header-nav__item:nth-child(4) {
    display: none;
  }
}

.header-nav__item {
  position: relative;

  .icon {
    top: 30px;
    left: 26px;
    fill: #d3d2d2;
  }

  .icon-search {
    width: 18px;
    height: 18px;
  }

  .icon-basket {
    width: 21px;
    height: 18px;
  }
}

.header-nav__item a {
  display: block;
  padding: 27px 0 27px 85px;
  border-bottom: 1px solid #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  .icon {
    fill: #63d1bb;
  }
}

@media (min-width: 768px) {
  .header-nav__item {
    min-width: 168px;
  }

  .header-nav__items {
    display: flex;
    margin-left: 0;
    width: 668px;
    font-size: 15px;

    .header-nav__item:nth-child(4) {
      display: none;
    }

    &:last-child {
      justify-content: flex-end;
      font-size: 17px;
      flex-wrap: wrap;
      width: 350px;
      margin: 0;
      margin-left: auto;
      margin-top: -50px;

      .header-nav__item {
        padding-right: 0;
      }

      .header-nav__item:nth-child(3) {
        display: block;
      }
    }
  }

  .header-nav__item-delivery {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: @color-grey;
  }
}

@media (min-width: 1250px) {
  .header-nav__items--index {
    margin: 0;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    order: 1;

    .header-nav__item {
      font-size: 17px;

      &:nth-child(3) {
        display: block;
        font-size: 15px;
      }

      &:nth-child(4) {
        display: block;
        font-size: 15px;
      }
    }

    &:last-child {
      margin: 0;
      order: 3;
    }
  }
}

@media (min-width: 1150px) {
  .header-nav__items--no-index {
    margin: 0;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    order: 1;

    .header-nav__item {
      font-size: 17px;

      &:nth-child(3) {
        display: block;
        font-size: 15px;
      }

      &:nth-child(4) {
        display: block;
        font-size: 15px;
      }
    }

    &:last-child {
      margin: 0;
      order: 3;
    }
  }
}
