.header {
  width: 260px;
  padding: 0 30px;
  position: relative;
  margin: 0 auto;
  background-color: @color-white;
}

.header-nav__toggle {
  position: absolute;
  right: 32px;
  top: 31px;
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 35px;
  text-align: center;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}

@media (min-width: 768px) {
  .header {
    width: 668px;
    padding: 0 50px;
    //margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .header__logo {
    padding: 20px 0;
    text-align: left;
  }

  .header__logo {
    margin-left: 0;
    width: 113px;
    //height: 46px;
  }

  .header-nav__toggle {
    display: none;
  }
}

@media (min-width: 1250px) {
  .header--index {
    width: 1050px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-direction: row;

    .header__logo {
      margin: 0 auto 0 -35px;
      order: 2;
    }
  }
}

@media (min-width: 1150px) {
  .header--no-index {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    .header__logo-img {
      margin: 0 auto 0 -35px;
      order: 2;
    }
  }
}
