.header {
  width: 320px;
  position: relative;
  margin: 0 auto;
  background-color: @color-white;
  border-top: 1px solid #ececec;
}

@media (min-width: 768px) {
  .header {
    width: 668px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ececec;
    border-top: 0;
  }
}

@media (min-width: 1250px) {
  .header--index {
    width: 1050px;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1150px) {
  .header--no-index {
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
  }
}
