.modal {
  text-align: center;
}

.modal__text {
  line-height: 30px;
}

.modal__list {
  list-style: none;
}

.modal__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: @color-grey;
  cursor: pointer;
  border: 2px solid rgba(68, 68, 68, 0.1);

  &:hover {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:checked {
    border: 2px solid @color-green-light;
  }
}

.modal__button {
  background-color: @color-green-light;
  color: @color-white;
  border: 2px solid @color-green-light;
}
