.modal {
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  width: 170px;
  margin: 0 auto;
  text-transform: uppercase;
}

.modal__text {
  line-height: 30px;
}

.modal__form {
  display: flex;
  width: 260px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    width: 82px;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    color: @color-grey;
    cursor: pointer;
    border: 2px solid rgba(68, 68, 68, 0.1);

    &:hover {
      border: 2px solid rgba(68, 68, 68, 0.3);
    }

    &:checked {
      border: 2px solid @color-green-light;
    }
  }
}

.modal__button {
  background-color: @color-green-light;
  color: @color-white;
  border: 2px solid @color-green-light;
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .modal {
    width: 566px;
    min-height: 336px;
  }

  .modal__title {
    width: 360px;
    font-size: 30px;
    line-height: 57px;
    text-transform: uppercase;
  }

  .modal__text {
    font-size: 17px;
  }
}
