.modal {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  border: 1px solid #c6c6c6;
  padding-top: 30px;
  box-sizing: border-box;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  width: 170px;
  margin: 0 auto;
  text-transform: uppercase;
}

.modal__text {
  line-height: 30px;
}

.modal__form {
  display: flex;
  width: 260px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;

  .form__input {
    display: none;
  }

  label {
    width: 82px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 16px;
    padding: 16px 0;
    font-weight: bold;
    color: @color-grey;
    cursor: pointer;
    border: 2px solid rgba(68, 68, 68, 0.1);

    &:hover {
      border: 2px solid rgba(68, 68, 68, 0.3);
    }

    &:checked {
      border: 2px solid @color-green-light;
    }
  }

  .form__input:checked + label {
    border-color: @color-green-light;
  }
}

.modal__button {
  background-color: @color-green-light;
  color: @color-white;
  border: 2px solid @color-green-light;
  font-size: 17px;
  line-height: 16px;
  margin-top: 30px;
  margin-bottom: 45px;

  &:hover {
    background-color: @color-green-light;
    color: @color-white;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 566px;
    min-height: 336px;
  }

  .modal__form {
    width: 350px;

    label {
      width: 112px;
    }
  }
  
  .modal__title {
    width: 360px;
    font-size: 30px;
    line-height: 57px;
    text-transform: uppercase;
  }

  .modal__text {
    font-size: 17px;
  }

  .modal__button {
    width: 350px;
  }
}
