.reviews {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
}

.reviews__title {
  line-height: 30px;
  margin-top: 60px;
}

.review__description {
  line-height: 30px;
  color: @color-grey;
}

.reviews__author {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.reviews__author-link {
  color: @color-grey;
  font-size: 17px;
  line-height: 30px;
}

.reviews__paging-btn {
  margin-bottom: 38px;
  margin-top: 32px;
}

@media (min-width: 768px) {

}

@media (min-width: 1250px) {

}
