.reviews__title{
  line-height: 30px;
}

.review__description {
  line-height: 30px;
  color: @color-grey;
}

.reviews__author {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.reviews__author-link {
  color: @color-grey;
  font-size: 17px;
  line-height: 30px;
}
