.video {
  width: 260px;
  margin: 0 auto 57px;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  font-size: 17px;
  line-height: 24px;
  width: 170px;
  position: relative;
  margin: 20px 0 25px auto;
  letter-spacing: 1px;

  .icon-camera {
    position: absolute;
    top: 5px;
    left: -55px;
    fill: @color-green-light;
    width: 32px;
    height: 32px;
  }
}

.video_box {
  position: relative;

  .video_play {
    font-size: 0;
    position: absolute;
    top: 35px;
    left: 75px;
    border: 0;
    background: 0 0;
    outline: 0;
    cursor: pointer;
  }
}

.video__video {
  height: 150px;
  background-color: @color-grey-light;
}

.video__description {
  font-size: 13px;
  line-height: 24px;
  width: 200px;
  margin: 25px 0 25px 35px;
  letter-spacing: 0.9px;
}

.video a {
  color: #444444;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  width: 190px;
  letter-spacing: -1px;
}

@media @width-tablet {
  .video {
    width: 668px;
    margin-bottom: 60px;

    a {
      width: 580px;
      margin-bottom: 45px;
    }
  }

  .video__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .video__video {
    width: 668px;
    min-height: 455px;
  }

  .video__title {
    font-size: 20px;
    width: 250px;
    margin-left: 105px;
    margin-top: 35px;
    order: 2;

    .icon-camera {
      top: -6px;
      left: -60px;
    }
  }

  .video__description {
    width: 586px;
    font-size: 15px;
    line-height: 30px;
    order: 3;
    letter-spacing: 0.4px;
    margin: 7px 0 15px 40px;
  }

  .video_box {
    .video_play {
      top: 185px;
      left: 278px;

      svg {
        width: 100px;
        height: 80px;
      }
    }
  }
}

@media @width-desktop-no-index {
  .video {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 104px;
  }

  .video__title {
    width: 220px;
    margin-left: 78px;
    margin-top: 45px;
    padding-left: 0;

    .icon-camera {
      position: static;
      display: block;
      margin-bottom: 20px;
    }
  }

  .video__video {
    width: 682px;
  }

  .video__description {
    margin-left: 760px;
    width: 258px;
    margin-top: -280px;
  }

  .video__wrapper {
    margin-bottom: 0;
  }

  .video_box {
    .video_play {
      top: 190px;
      left: 285px;
    }
  }

  .video__button {
    position: absolute;
    right: 100px;
    bottom: 100px;
  }

  .video a {
    position: absolute;
    right: 55px;
    bottom: 15px;
    width: 230px;
  }
}
