.video {
  width: 260px;
  margin: 0 auto;
  //padding: 0 30px;
  margin-bottom: 60px;
  border: 1px solid #ececec;
}

.video__wrapper {
  // border: 1px solid #ececec;
}

.video__title {
  font-size: 17px;
  line-height: 24px;
  width: 170px;
  margin-left: auto;
  position: relative;

  .icon-camera {
    position: absolute;
    top: 5px;
    left: -50px;
    fill: @color-green-light;
    width: 32px;
    height: 32px;
  }
}

.video_box {
  position: relative;

  .video_play {
    font-size: 0;
    position: absolute;
    top: 37px;
    left: 80px;
    border: 0;
    background: 0 0;
    outline: 0;
    cursor: pointer;
  }
}

.video__video {
  background-color: @color-grey-light;
}

.video__description {
  font-size: 13px;
  line-height: 24px;
  margin-left: 35px;
  width: 200px;
}

.video a {
  color: #444444;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  width: 190px;
}

@media (min-width: 768px) {
  .video {
    width: 668px;
    //padding: 0 50px;
  }

  .video__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .video__video {
    width: 668px;
    min-height: 455px;
  }

  .video__title {
    font-size: 20px;
    width: 250px;
    margin-left: 50px;
    order: 2;
  }

  .video__description {
    width: 586px;
    font-size: 15px;
    line-height: 30px;
    order: 3;
  }

  .video_box {  
    .video_play {
      top: 190px;
      left: 283px;
      width: 100px;
      height: 80px;
    }
  }
}

@media (min-width: 1150px) {
  .video {
    position: relative;
    width: 1050px;
    margin: 0 auto;
  }

  .video__title {
    width: 220px;
    padding-left: 40px;
  }

  .video__description {
    margin-left: auto;
    width: 288px;
    margin-top: -350px;
  }

  .video__button {
    position: absolute;
    right: 100px;
    bottom: 100px;
  }

  .video a {
    position: absolute;
    right: 100px;
    bottom: 100px;
  }
}
