body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: @font-size-main;
  background-color: @color-white;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: @color-white;
  border: 2px solid @color-grey;
  color: @color-grey;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 260px;
  padding: 14px 0;
  letter-spacing: 2px;

  &:hover {
    background-color: @color-grey;
    color: @color-white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.icon {
  display: inline-block;
  position: absolute;
}
