// Цвета
@color-white: #ffffff;
@color-green: #56c3b2;
@color-green-light: #63d1bb;
@change-color-interior: #59d5bc;
@change-color-toy: #46c1ae;
@color-footer: #f1f1f1;
@color-grey: #444444;
@color-grey-light: #f1f1f1;

//Шрифты
@font-size-main: 15px;
